.loading_animation_outer {
  display: flex;
  justify-content: center;
  margin-bottom: 20px;
}

.loading_animation_outer .loading_animation_inner {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.loading_animation_outer .loading_animation_inner img {
  width: 50px;
  margin-bottom: 20px;
}

.loading_animation_outer .loading_animation_inner .loading_label {
  color: rgb(31, 129, 221);
}

.TopRedirect {
  padding-top: 30px;
  transform: scale(3.5);
  padding-bottom: 20px;
}

.Copyright {
  color: gray;
}
