.footer_outer {
  padding-bottom: 28px;
  padding-top: 45px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.footer_start {
  width: 614px;
  height: 2px;
  background: linear-gradient(136.04deg, #ffec41 -0.78%, #ffb341 92.66%)
    no-repeat;
}

.footer_inner {
  margin-top: 40px;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-left: 40px;
  padding-right: 40px;
  box-sizing: border-box;
}

.footer_item {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  font-size: 10px;
  font-weight: bold;
  color: silver;
  height: 80px;
  font-size: 14px;
}

.footer_item span:hover {
  color: rgb(31, 129, 221);
}

@media only screen and (max-width: 1200px) {
  .footer_outer {
    width: 100%;
  }
}

@media only screen and (min-width: 1200px) {
  .footer_outer {
    width: 960px;
  }
}
