.responsive_container {
  margin-left: 150px;
  margin-right: 150px;
  display: flex;
  flex-flow: column;
  align-items: center;
}

a {
  color: inherit;
  text-decoration: none;
}

@media only screen and (max-width: 960px) {
  .responsive_container {
    margin-left: 0;
    margin-right: 0;
  }
}
